/** CSS will be used here for styling**/
@import url("https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Jersey+15&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --primary-color: #E3BC9A;
  }


body{
  color: rgb(54,38,36);
  background-color: var(--primary-color);
}

.OldBusiness{
  color:red;
  background-color: color(display-p3 0.54 0.4 0.36);
}

.NewBusiness{
  color:hsla(0,100%,50%,1);
  background-color: color-mix(blend, rgb(0.54,0.9,0) 50%,rgb(0.54,0,0.36) 50% );
}

#eom{
  border-color: #000000;
  border-style: solid;
  border-width: 5pt;
  border-radius: 2px;
}
*{
  padding: 10px 50px 10px 50px
}

img{
  padding-left: 100px;
  padding-right: 100px;
}

button:hover{
    background-color: pink;
}

a{
    text-decoration: underline;
}

h3[id="Attendees"]{
    text-align:center;
}

a:active{
    color: red;
}

h1,h2,h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul>li{
    font-size: 2em;
}

div ol{
    font-size: 1.5em;
} 

audio~video{
    margin-top: 50mm;
    margin-bottom: 50mm;
    margin-left: 50mm;
    margin-right: 50mm;
}

audio+video{
    max-width: 800px;
}

h3.OldBusiness{
    font-family: "Jersey 15", sans-serif;
}

div:has(h3){
    width:20%

}

section div.NewBusiness{
    background-color: color-mix(in srgb, #909099 80%,#000000 );
}

div{
    margin: 50px 50px 50px 50px;
    display: none;
}

h1{
    margin:auto;
    display: block;
}

h2 {
    height: 100px;
    width: 200px;
    min-width: 100px;
  }

footer{
    position: fixed;

}

header{
    position: static;
}
section{
    display: flex;
    flex-flow:column;
}

.OldBusiness{
    flex:3;
}
.NewBusiness{
    flex-basis: 20%;
}
#ActionItems{
    flex-direction:row;
}
h3{
    width: 1000px;
}

main{
    display: grid;
    gap:1px;
    grid-template-columns: none;
}
















